<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon ico -->
<!-- Favicon ico -->
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/images/favicon.ico}">
    <title>Dettagli allievo - Ge.Ce.</title>
    <!-- Bootstrap Core CSS -->
<link  th:href="@{/css/lib/bootstrap/bootstrap.min.css}" rel="stylesheet">
<!-- Custom CSS -->

<link th:href="@{/css/lib/calendar2/semantic.ui.min.css}" rel="stylesheet">
<link  th:href="@{/css/lib/calendar2/pignose.calendar.min.css}" rel="stylesheet">
<link  th:href="@{/css/lib/owl.carousel.min.css}" rel="stylesheet" />
<link th:href="@{/css/lib/owl.theme.default.min.css}" rel="stylesheet" />
<link th:href="@{/css/helper.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
<!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/home}"><!-- Logo icon -->
						<img th:src="@{/images/logo.png}" alt="homepage" class="imageLOGO">
						<!--End Logo icon -->
					</a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        
                    </ul>
                    <!-- User profile and search -->
					<ul class="navbar-nav my-lg-0">
					<!--logout -->
					<form th:action="@{/logout}" method="post">
									<button type="submit" class="btn btn-primary">Log Out</button>
								</form>
					</ul>
                    
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
					<ul id="sidebarnav">
						<li class="nav-devider"></li>
						<li class="nav-label">Menu</li>
						<li><a class="has-arrow  " href="#" aria-expanded="false"><i
								class="fa fa-user-circle"></i><span class="hide-menu">Gestione
									allievo 
							</span></a>
    
							<ul aria-expanded="false" class="collapse">
								<li><a th:href="@{/aggiungiAllievo}">Registrazione
										allievo </a></li>
 
								<li><a th:href="@{/reportAllievo}">Report allievo </a></li>
							</ul></li>
	                                 <li><a th:href="@{/prenotazioneCorso}" ><i class="fa fa-university" aria-hidden="true"></i>Prenota corso </a></li>

                        <li><a class="has-arrow  " href="#" aria-expanded="false"><i
								class="fa fa-tasks" aria-hidden="true"></i><span
								class="hide-menu">Gestione attività</span></a>
							<ul aria-expanded="false" class="collapse">
								<li><a th:href="@{/aggiungiCorso}">Crea attività</a></li>
								<li><a>Cerca attività</a></li>
							</ul></li>

                    <li ><a class="has-arrow  "  href="#" aria-expanded="false"><i
								class="fas fa-toolbox" aria-hidden="true"></i><span
								class="hide-menu">Amministrazione</span></a>
							<ul aria-expanded="false" class="collapse">
								<li><a th:href="@{/aggiungiCentro}">Registra centro</a></li>
								<li><a th:href="@{/registrazioneResponsabile}">Registra responsabile centro</a></li>
							</ul></li>
                    </ul>
				</nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
		<!-- Page wrapper  -->
		<div class="page-wrapper">
			<!-- Bread crumb -->
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h3 class="text-primary">
						<span th:text="${allievo.name}"></span> <span
							th:text="${allievo.surname}"></span>
					</h3>
				</div>
				<div class="col-md-7 align-self-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
						<li class="breadcrumb-item active">Dettaglio allievo</li>
					</ol>
				</div>
			</div>
			<!-- End Bread crumb -->
			<!-- Container fluid  -->
			<div class="container-fluid">
				<!-- Start Page Content -->
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="form-validation">
									<div class="form-group row">
										<label class="col-lg-4 col-form-label" for="val-nome">Nome

										</label>
										<div class="col-lg-6">
											<span th:text="${allievo.name}"></span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label" for="val-cognome">Cognome

										</label>
										<div class="col-lg-6">
											<span th:text="${allievo.surname}"></span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label" for="val-citta">Città

										</label>
										<div class="col-lg-6">
											<span th:text="${allievo.city}"></span>
										</div>

									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label" for="val-mail">Mail

										</label>
										<div class="col-lg-6">
											<span th:text="${allievo.mail}"></span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label" for="val-telefono">Telefono

										</label>
										<div class="col-lg-6">
											<span th:text="${allievo.phone}"></span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label">Data di nascità
										</label>
										<div class="col-lg-6">
											<span th:text="${allievo.dateOfBirth}"></span>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 col-form-label" for="val-username">Luogo
											di nascità </label>
										<div class="col-lg-6">
											<span th:text="${allievo.placeOfBirth}"></span>
										</div>
									</div>


									<div class="form-group row">
										<label class="col-lg-4 col-form-label">Centro di
											affiliazione</label>
										<div class="col-lg-8">
											<span th:text="${centro}"></span>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- End PAge Content -->
			</div>
			<!-- End Container fluid  -->
			<!-- footer -->
			<footer class="footer">
				© 2018 All rights reserved. Template designed by <a
					href="https://colorlib.com">Colorlib</a>
			</footer>
			<!-- End footer -->
		</div>
		<!-- End Page wrapper  -->
	</div>
	<!-- End Wrapper -->
	<!-- All Jquery -->
	<script th:src="@{/js/lib/jquery/jquery.min.js}"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script th:src="@{/js/lib/bootstrap//js/popper.min.js}"></script>
	<script th:src="@{/js/lib/bootstrap//js/bootstrap.min.js}"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script th:src="@{/js/jquery.slimscroll.js}"></script>
	<!--Menu sidebar -->
	<script th:src="@{/js/sidebarmenu.js}"></script>
	<!--stickey kit -->
	<script th:src="@{/js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>


	<!-- Form validation -->
	<script th:src="@{/js/lib/form-validation/jquery.validate.min.js}"></script>
	<script th:src="@{/js/lib/form-validation/jquery.validate-init.js}"></script>
	<!--Custom JavaScript -->
	<script th:src="@{/js/scripts.js}"></script>

</body>

</html>