<!DOCTYPE html>
<html lang="it">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon ico -->
<link rel="icon" type="image/png" sizes="16x16"
	href="images/favicon.ico">
<title>Ricerca allievo</title>
<!-- Bootstrap Core CSS -->
<link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->

<link href="css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
<link href="css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
<link href="css/lib/owl.carousel.min.css" rel="stylesheet" />
<link href="css/lib/owl.theme.default.min.css" rel="stylesheet" />
<link href="css/helper.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
<!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
	<!-- Preloader - style you can find in spinners.css -->
	<div class="preloader">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none"
				stroke-width="2" stroke-miterlimit="10" /> </svg>
	</div>
	<!-- Main wrapper  -->
	<div id="main-wrapper">
		<!-- header header  -->
		<div class="header">
			<nav class="sidebar-nav">
					<ul id="sidebarnav">
						<li class="nav-devider"></li>
						<li class="nav-label">Menu</li>
						<li><a class="has-arrow  " href="#" aria-expanded="false"><i
								class="fa fa-user-circle"></i><span class="hide-menu">Gestione
									allievo 
							</span></a>
    
							<ul aria-expanded="false" class="collapse">
								<li><a th:href="@{/aggiungiAllievo}">Registrazione
										allievo </a></li>
 
								<li><a th:href="@{/reportAllievo}">Report allievo </a></li>
							</ul></li>
	                                 <li><a th:href="@{/prenotazioneCorso}" ><i class="fa fa-university" aria-hidden="true"></i>Prenota corso </a></li>

                        <li><a class="has-arrow  " href="#" aria-expanded="false"><i
								class="fa fa-tasks" aria-hidden="true"></i><span
								class="hide-menu">Gestione attività</span></a>
							<ul aria-expanded="false" class="collapse">
								<li><a th:href="@{/aggiungiCorso}">Crea attività</a></li>
								<li><a>Cerca attività</a></li>
							</ul></li>

                    <li ><a class="has-arrow  "  href="#" aria-expanded="false"><i
								class="fas fa-toolbox" aria-hidden="true"></i><span
								class="hide-menu">Amministrazione</span></a>
							<ul aria-expanded="false" class="collapse">
								<li><a th:href="@{/aggiungiCentro}">Registra centro</a></li>
								<li><a th:href="@{/registrazioneResponsabile}">Registra responsabile centro</a></li>
							</ul></li>
                    </ul>
				</nav>
		</div>
		<!-- End header header -->
		<!-- Left Sidebar  -->
		<div class="left-sidebar">
			<!-- Sidebar scroll-->
			<div class="scroll-sidebar">
				<!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Menu</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-user-circle"></i><span class="hide-menu">Gestione allievo  </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a th:href="@{/aggiungiAllievo}" >Registrazione allievo </a></li>
								<li><a th:href="@{/allievi}">Report allievo </a></li>
                            </ul>
                        </li>
                                                        <li><a th:href="@{/prenotazioneCorso}" ><i class="fa fa-university" aria-hidden="true"></i>Prenota corso </a></li>

						<li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hide-menu">Gestione attività</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a th:href="@{/aggiungiCorso}">Crea attività</a></li>
                                <li><a th:href="@{/CercaCorso}">Cerca attività</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
			</div>
			<!-- End Sidebar scroll-->
		</div>
		<!-- End Left Sidebar  -->


		<!-- Page wrapper  -->
		<div class="page-wrapper">
			<!-- Bread crumb -->

			<!-- End Bread crumb -->
			<!-- Container fluid  -->
			<div class="container-fluid">
				<div class="row justify-content-center">

					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<h3 class="text-primary" style="text-align: center">Ricerca attività</h3>

							</div>
						</div>
						<!--div th:if="${exist}">
							<div style="text-align: center" class="alert alert-danger"
								role="alert">Errore: controlla i dati inseriti</div>
						</div-->
					</div>

				</div>


				<!-- Start Page Content -->
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="form-validation">
									<form class="form-valide" th:action="@{/CercaCorsoDate}" th:object="${corso}">
										
										<div class="form-group row">
											<label class="col-lg-4 col-form-label">Data
										 		<span class="text-danger">*</span>
											</label>
											<div class="col-lg-6">
												<input type="date" th:field="*{date}"
													class="form-control input-default"
													placeholder="Data">
													<!--span class="text-danger">
													<td th:if="${#fields.hasErrors('date')}"
													th:errors="*{date}"></td>
												</span-->
											</div>
										</div>
										
										<div class="form-group row">
											<div class="col-lg-8 ml-auto">
												<button type="submit" class="btn btn-primary">Invia</button>
											</div>
										</div>
										</form>
								</div>
								
								<div th:if="${corsiOkay}" class="table-responsive">
                                    <table class="table">
                                        <div class="col-lg-12">
                                        <tr>
                                            <td style="font-size: 16px; font-weight: 600">Nome</td>
                                            <td style="font-size: 16px; font-weight: 600">Data</td>
                                            <td style="font-size: 16px; font-weight: 600">Ora</td>
                                            <!--td style="font-size: 16px; font-weight: 600">Città</td-->
                                        </tr>
										<tr th:each="corso : ${corsi}">
											<td><a style="font-size: medium; font-weight: 600"
												th:href="@{'/corso' + '/' + ${corso.id}}"><span
													 th:text="${corso.name}"></span>
                                                 </a></td> 
                                            <td><span
                                                      th:text="${corso.date}"></span> </td>
                                                <td><span
                                                          th:text="${corso.hour}"></span></td>
                                                <!--td>
                                                <span
													 th:text="${allievo.city}">
												</span>
                                            	</td-->
                                        
										</tr>
                                        </div>
									</table>
                                </div>
								

							</div>
							
						</div>


						
						
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- End PAge Content -->
										</div>
										<!-- End Container fluid  -->
										<!-- footer -->
										<footer class="footer">
											© 2018 All rights reserved. Template designed by <a
												href="https://colorlib.com">Colorlib</a>
										</footer>
										<!-- End footer -->
								</div>
								<!-- End Page wrapper  -->

								<!-- All Jquery -->
								<script
									src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
								<script src="js/lib/jquery/jquery.min.js"></script>
								<!-- Bootstrap tether Core JavaScript -->

								<script type="text/javascript"
									src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

								<script src="js/lib/bootstrap/js/popper.min.js"></script>
								<script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
								<!-- slimscrollbar scrollbar JavaScript -->
								<script src="js/jquery.slimscroll.js"></script>
								<!--Menu sidebar -->
								<script src="js/sidebarmenu.js"></script>
								<!--stickey kit -->
								<script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>


								<!-- Form validation -->
								<script src="js/lib/form-validation/jquery.validate.min.js"></script>
								<script src="js/lib/form-validation/jquery.validate-init.js"></script>
								<!--Custom JavaScript -->
								<script src="js/scripts.js"></script>
</body>

</html>